@model WebApplication24.Models.MemberShip
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="icon" href="~/dashboard/assets/images/favicon.ico" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="~/dashboard/assets/fonts/fontawesome/css/fontawesome-all.min.css">
<!-- animation css -->
<link rel="stylesheet" href="~/dashboard/assets/plugins/animation/css/animate.min.css">
<!-- vendor css -->
<link rel="stylesheet" href="~/dashboard/assets/css/style.css">


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberShipName" class="control-label"></label>
                <input asp-for="MemberShipName" class="form-control" />
                <span asp-validation-for="MemberShipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePerMonth" class="control-label"></label>
                <input asp-for="TimePerMonth" class="form-control" />
                <span asp-validation-for="TimePerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfEvnet" class="control-label"></label>
                <input asp-for="TypeOfEvnet" class="form-control" />
                <span asp-validation-for="TypeOfEvnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offer" class="control-label"></label>
                <input asp-for="Offer" class="form-control" />
                <span asp-validation-for="Offer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
