@{
    Layout = "~/Views/Shared/_Coach.cshtml";
    var sumOfCard = ViewBag.SumOfProduct;
    var id = ViewBag.id;
    var Avgoftime = ViewBag.Avgoftime;
}




<!-- [ breadcrumb ] start -->
<!-- [ breadcrumb ] end -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[ daily sales section ] start-->
            <div class="col-md-6 col-xl-4">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">sumOfCard</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>@sumOfCard</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Avg of time</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>@Avgoftime</h3>
                            </div>
                            <div class="col-3 text-right">
                                <p class="m-b-0"></p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>



